[submodule "OCA/hr"]
	path = OCA/hr
	url = git@github.com:OCA/hr.git
	branch = 12.0

[submodule "OCA/account-closing"]
	path = OCA/account-closing
	url = git@github.com:OCA/account-closing.git
	branch = 12.0

[submodule "OCA/account-financial-tools"]
	path = OCA/account-financial-tools
	url = git@github.com:OCA/account-financial-tools.git
	branch = 12.0

[submodule "OCA/account-invoicing"]
	path = OCA/account-invoicing
	url = git@github.com:OCA/account-invoicing.git
	branch = 12.0

[submodule "OCA/bank-payment"]
	path = OCA/bank-payment
	url = git@github.com:OCA/bank-payment.git
	branch = 12.0

[submodule "OCA/brand"]
	path = OCA/brand
	url = git@github.com:OCA/brand.git
	branch = 12.0

[submodule "OCA/connector-telephony"]
	path = OCA/connector-telephony
	url = git@github.com:OCA/connector-telephony.git
	branch = 12.0

[submodule "OCA/credit-control"]
	path = OCA/credit-control
	url = git@github.com:OCA/credit-control.git
	branch = 12.0

[submodule "OCA/currency"]
	path = OCA/currency
	url = git@github.com:OCA/currency.git
	branch = 12.0

[submodule "OCA/l10n-netherlands"]
	path = OCA/l10n-netherlands
	url = git@github.com:OCA/l10n-netherlands.git
	branch = 12.0

[submodule "OCA/product-attribute"]
	path = OCA/product-attribute
	url = git@github.com:OCA/product-attribute.git
	branch = 12.0

[submodule "OCA/partner-contact"]
	path = OCA/partner-contact
	url = git@github.com:OCA/partner-contact.git
	branch = 12.0

[submodule "OCA/l10n-usa"]
	path = OCA/l10n-usa
	url = git@github.com:OCA/l10n-usa.git
	branch = 12.0

[submodule "OCA/management-system"]
	path = OCA/management-system
	url = git@github.com:OCA/management-system.git
	branch = 12.0
