[submodule "OCA/hr"]
	path = OCA/hr
	url = https://github.com/OCA/hr.git
	branch = 12.0
[submodule "OCA/maintenance"]
	path = OCA/maintenance
	url = https://github.com/OCA/maintenance.git
	branch = 12.0
[submodule "OCA/partner-contact"]
	path = OCA/partner-contact
	url = https://github.com/OCA/partner-contact.git
	branch = 12.0
[submodule "OCA/manufacture"]
	path = OCA/manufacture
	url = https://github.com/OCA/manufacture.git
	branch = 12.0
[submodule "OCA/l10n-switzerland"]
	path = OCA/l10n-switzerland
	url = https://github.com/OCA/l10n-switzerland.git
	branch = 12.0
[submodule "OCA/knowledge"]
	path = OCA/knowledge
	url = https://github.com/OCA/knowledge.git
	branch = 12.0
[submodule "OCA/timesheet"]
	path = OCA/timesheet
	url = https://github.com/OCA/timesheet.git
	branch = 12.0
[submodule "OCA/server-auth"]
	path = OCA/server-auth
	url = https://github.com/OCA/server-auth.git
	branch = 12.0
[submodule "OCA/social"]
	path = OCA/social
	url = https://github.com/OCA/social.git
	branch = 12.0
[submodule "OCA/stock-logistics-reporting"]
	path = OCA/stock-logistics-reporting
	url = https://github.com/OCA/stock-logistics-reporting.git
	branch = 12.0
[submodule "OCA/operating-unit"]
	path = OCA/operating-unit
	url = https://github.com/OCA/operating-unit.git
	branch = 12.0
[submodule "OCA/server-backend"]
	path = OCA/server-backend
	url = https://github.com/OCA/server-backend.git
	branch = 12.0
[submodule "OCA/l10n-france"]
	path = OCA/l10n-france
	url = https://github.com/OCA/l10n-france.git
	branch = 12.0
[submodule "OCA/credit-control"]
	path = OCA/credit-control
	url = https://github.com/OCA/credit-control.git
	branch = 12.0
[submodule "OCA/account-analytic"]
	path = OCA/account-analytic
	url = https://github.com/OCA/account-analytic.git
	branch = 12.0
[submodule "OCA/web"]
	path = OCA/web
	url = https://github.com/OCA/web.git
	branch = 12.0
[submodule "OCA/contract"]
	path = OCA/contract
	url = https://github.com/OCA/contract.git
	branch = 12.0
[submodule "OCA/stock-logistics-warehouse"]
	path = OCA/stock-logistics-warehouse
	url = https://github.com/OCA/stock-logistics-warehouse.git
	branch = 12.0
[submodule "OCA/stock-logistics-workflow"]
	path = OCA/stock-logistics-workflow
	url = https://github.com/OCA/stock-logistics-workflow.git
	branch = 12.0
[submodule "OCA/account-invoicing"]
	path = OCA/account-invoicing
	url = https://github.com/OCA/account-invoicing.git
	branch = 12.0
[submodule "OCA/account-financial-tools"]
	path = OCA/account-financial-tools
	url = https://github.com/OCA/account-financial-tools.git
	branch = 12.0
[submodule "OCA/crm"]
	path = OCA/crm
	url = https://github.com/OCA/crm.git
	branch = 12.0
[submodule "OCA/account-payment"]
	path = OCA/account-payment
	url = https://github.com/OCA/account-payment.git
	branch = 12.0
[submodule "OCA/field-service"]
	path = OCA/field-service
	url = https://github.com/OCA/field-service.git
	branch = 12.0
[submodule "OCA/l10n-brazil"]
	path = OCA/l10n-brazil
	url = https://github.com/OCA/l10n-brazil.git
	branch = 12.0
[submodule "OCA/stock-logistics-barcode"]
	path = OCA/stock-logistics-barcode
	url = https://github.com/OCA/stock-logistics-barcode.git
	branch = 12.0
[submodule "OCA/purchase-workflow"]
	path = OCA/purchase-workflow
	url = https://github.com/OCA/purchase-workflow.git
	branch = 12.0
[submodule "OCA/sale-reporting"]
	path = OCA/sale-reporting
	url = https://github.com/OCA/sale-reporting.git
	branch = 12.0
[submodule "OCA/account-financial-reporting"]
	path = OCA/account-financial-reporting
	url = https://github.com/OCA/account-financial-reporting.git
	branch = 12.0
[submodule "OCA/edi"]
	path = OCA/edi
	url = https://github.com/OCA/edi.git
	branch = 12.0
[submodule "OCA/project"]
	path = OCA/project
	url = https://github.com/OCA/project.git
	branch = 12.0
[submodule "OCA/account-invoice-reporting"]
	path = OCA/account-invoice-reporting
	url = https://github.com/OCA/account-invoice-reporting.git
	branch = 12.0
[submodule "OCA/delivery-carrier"]
	path = OCA/delivery-carrier
	url = https://github.com/OCA/delivery-carrier.git
	branch = 12.0
[submodule "OCA/storage"]
	path = OCA/storage
	url = https://github.com/OCA/storage.git
	branch = 12.0
[submodule "OCA/brand"]
	path = OCA/brand
	url = https://github.com/OCA/brand.git
	branch = 12.0
[submodule "OCA/server-env"]
	path = OCA/server-env
	url = https://github.com/OCA/server-env.git
	branch = 12.0
[submodule "OCA/product-attribute"]
	path = OCA/product-attribute
	url = https://github.com/OCA/product-attribute.git
	branch = 12.0
[submodule "OCA/commission"]
	path = OCA/commission
	url = https://github.com/OCA/commission.git
	branch = 12.0
[submodule "OCA/sale-workflow"]
	path = OCA/sale-workflow
	url = https://github.com/OCA/sale-workflow.git
	branch = 12.0
[submodule "OCA/account-reconcile"]
	path = OCA/account-reconcile
	url = https://github.com/OCA/account-reconcile.git
	branch = 12.0
[submodule "OCA/l10n-spain"]
	path = OCA/l10n-spain
	url = https://github.com/OCA/l10n-spain.git
	branch = 12.0
[submodule "OCA/l10n-netherlands"]
	path = OCA/l10n-netherlands
	url = https://github.com/OCA/l10n-netherlands.git
	branch = 12.0
[submodule "OCA/currency"]
	path = OCA/currency
	url = https://github.com/OCA/currency.git
	branch = 12.0
[submodule "OCA/community-data-files"]
	path = OCA/community-data-files
	url = https://github.com/OCA/community-data-files.git
	branch = 12.0
[submodule "OCA/reporting-engine"]
	path = OCA/reporting-engine
	url = https://github.com/OCA/reporting-engine.git
	branch = 12.0
[submodule "OCA/server-ux"]
	path = OCA/server-ux
	url = https://github.com/OCA/server-ux.git
	branch = 12.0
[submodule "OCA/geospatial"]
	path = OCA/geospatial
	url =  https://github.com/OCA/geospatial
	branch = 12.0
[submodule "OCA/pos"]
	path = OCA/pos
	url =  https://github.com/OCA/pos
	branch = 12.0
[submodule "OCA/product-variant"]
	path = OCA/product-variant
	url =  https://github.com/OCA/product-variant
	branch = 12.0
[submodule "OCA/report-print-send"]
	path = OCA/report-print-send
	url =  https://github.com/OCA/report-print-send
	branch = 12.0
[submodule "OCA/helpdesk"]
	path = OCA/helpdesk
	url =  https://github.com/OCA/helpdesk
	branch = 12.0
[submodule "OCA/intrastat-extrastat"]
	path = OCA/intrastat-extrastat
	url =  https://github.com/OCA/intrastat-extrastat
	branch = 12.0
[submodule "OCA/event"]
	path = OCA/event
	url = https://github.com/OCA/event.git
	branch = 12.0
[submodule "OCA/l10n-thailand"]
	path = OCA/l10n-thailand
	url =  https://github.com/OCA/l10n-thailand
	branch = 12.0
[submodule "OCA/management-system"]
	path = OCA/management-system
	url =  https://github.com/OCA/management-system
	branch = 12.0
[submodule "OCA/bank-statement-import"]
	path = OCA/bank-statement-import
	url =  https://github.com/OCA/bank-statement-import
	branch = 12.0
[submodule "OCA/account-closing"]
	path = OCA/account-closing
	url =  https://github.com/OCA/account-closing
	branch = 12.0
[submodule "OCA/server-tools"]
	path = OCA/server-tools
	url =  https://github.com/OCA/server-tools
	branch = 12.0
[submodule "OCA/website"]
	path = OCA/website
	url =  https://github.com/OCA/website
	branch = 12.0
[submodule "OCA/l10n-finland"]
	path = OCA/l10n-finland
	url =  https://github.com/OCA/l10n-finland
	branch = 12.0
[submodule "OCA/multi-company"]
	path = OCA/multi-company
	url =  https://github.com/OCA/multi-company
	branch = 12.0
[submodule "OCA/account-fiscal-rule"]
	path = OCA/account-fiscal-rule
	url =  https://github.com/OCA/account-fiscal-rule
	branch = 12.0
[submodule "OCA/bank-payment"]
	path = OCA/bank-payment
	url =  https://github.com/OCA/bank-payment
	branch = 12.0
[submodule "OCA/l10n-mexico"]
	path = OCA/l10n-mexico
	url =  https://github.com/OCA/l10n-mexico
	branch = 12.0
[submodule "OCA/l10n-portugal"]
	path = OCA/l10n-portugal
	url =  https://github.com/OCA/l10n-portugal
	branch = 12.0
[submodule "OCA/queue"]
	path = OCA/queue
	url =  https://github.com/OCA/queue
	branch = 12.0
[submodule "OCA/interface-github"]
	path = OCA/interface-github
	url =  https://github.com/OCA/interface-github
	branch = 12.0
[submodule "OCA/website-cms"]
	path = OCA/website-cms
	url =  https://github.com/OCA/website-cms
	branch = 12.0
[submodule "OCA/project-reporting"]
	path = OCA/project-reporting
	url =  https://github.com/OCA/project-reporting
	branch = 12.0
[submodule "OCA/connector"]
	path = OCA/connector
	url =  https://github.com/OCA/connector
	branch = 12.0
[submodule "OCA/vertical-isp"]
	path = OCA/vertical-isp
	url =  https://github.com/OCA/vertical-isp
	branch = 12.0
[submodule "OCA/vertical-hotel"]
	path = OCA/vertical-hotel
	url =  https://github.com/OCA/vertical-hotel
	branch = 12.0
[submodule "OCA/vertical-association"]
	path = OCA/vertical-association
	url =  https://github.com/OCA/vertical-association
	branch = 12.0
[submodule "OCA/survey"]
	path = OCA/survey
	url =  https://github.com/OCA/survey
	branch = 12.0
[submodule "OCA/stock-logistics-transport"]
	path = OCA/stock-logistics-transport
	url =  https://github.com/OCA/stock-logistics-transport
	branch = 12.0
[submodule "OCA/server-brand"]
	path = OCA/server-brand
	url =  https://github.com/OCA/server-brand
	branch = 12.0
[submodule "OCA/purchase-reporting"]
	path = OCA/purchase-reporting
	url =  https://github.com/OCA/purchase-reporting
	branch = 12.0
[submodule "OCA/product-pack"]
	path = OCA/product-pack
	url =  https://github.com/OCA/product-pack
	branch = 12.0
[submodule "OCA/manufacture-reporting"]
	path = OCA/manufacture-reporting
	url =  https://github.com/OCA/manufacture-reporting
	branch = 12.0
[submodule "OCA/margin-analysis"]
	path = OCA/margin-analysis
	url =  https://github.com/OCA/margin-analysis
	branch = 12.0
[submodule "OCA/l10n-usa"]
	path = OCA/l10n-usa
	url =  https://github.com/OCA/l10n-usa
	branch = 12.0
[submodule "OCA/l10n-germany"]
	path = OCA/l10n-germany
	url =  https://github.com/OCA/l10n-germany
	branch = 12.0
[submodule "OCA/data-protection"]
	path = OCA/data-protection
	url =  https://github.com/OCA/data-protection
	branch = 12.0
[submodule "OCA/connector-telephony"]
	path = OCA/connector-telephony
	url =  https://github.com/OCA/connector-telephony
	branch = 12.0
[submodule "OCA/business-requirement"]
	path = OCA/business-requirement
	url =  https://github.com/OCA/business-requirement
	branch = 12.0
[submodule "OCA/apps-store"]
	path = OCA/apps-store
	url =  https://github.com/OCA/apps-store
	branch = 12.0
[submodule "OCA/account-consolidation"]
	path = OCA/account-consolidation
	url =  https://github.com/OCA/account-consolidation
	branch = 12.0
[submodule "OCA/account-budgeting"]
	path = OCA/account-budgeting
	url = https://github.com/OCA/account-budgeting.git
	branch = 12.0
[submodule "OCA/oca-custom"]
	path = OCA/oca-custom
	url =  https://github.com/OCA/oca-custom
	branch = 12.0
[submodule "OCA/Account-closing"]
	path = OCA/Account-closing
	url =  https://github.com/OCA/Account-closing
	branch = 12.0
[submodule "OCA/e-commerce"]
	path = OCA/e-commerce
	url = https://github.com/OCA/e-commerce
	branch = 12.0
[submodule "OCA/hr-attendance"]
	path = OCA/hr-attendance
	url =  https://github.com/OCA/hr-attendance
	branch = 12.0
[submodule "OCA/hr-holidays"]
	path = OCA/hr-holidays
	url =  https://github.com/OCA/hr-holidays
	branch = 12.0
[submodule "OCA/l10n-italy"]
	path = OCA/l10n-italy
	url =  https://github.com/OCA/l10n-italy
	branch = 12.0
[submodule "e-commerce"]
	path = e-commerce
	url = https://github.com/OCA/e-commerce
	branch = 12.0
